dbprobepoc2-v1/src/main/mule/fetchingNew.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:os="http://www.mulesoft.org/schema/mule/os"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd">
	<flow name="fetchingNewFlow" doc:id="9be1baa3-a924-407b-a6dc-4564ef228d56" >
		<scheduler doc:name="Scheduler" doc:id="80d35f8d-5cf9-4c75-b568-fbc7b3595387" >
			<scheduling-strategy >
				<cron expression="0 0/3 * 1/1 * ? *" />
			</scheduling-strategy>
		</scheduler>
		<os:retrieve doc:name="Retrieve" doc:id="ce810e3e-0118-4abc-b138-c91905dd9230" key="dbStore">
			<os:default-value ><![CDATA[#[payload]]]></os:default-value>
		</os:retrieve>
		<ee:transform doc:name="Old Payload set as Payload" doc:id="b8480487-d927-45e8-978b-fca8e139bd6d" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="storeAccountNumber" ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<db:select doc:name="fecthing updated DB payload" doc:id="b757313e-ed16-4193-932b-654482f3b20e" config-ref="Database_Config">
			<db:sql ><![CDATA[SELECT * FROM customersinfo.account_info;]]></db:sql>
		</db:select>
		<ee:transform doc:name="Payload set as new Payload" doc:id="e2996db7-4dd5-4e5b-a565-d04ee5ffdd08" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="newDBFetchingPayload" ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<ee:transform doc:name="filter new and old payloads" doc:id="bd39f775-7d22-4949-ac19-297fecd2c24e">
					<ee:message>
					</ee:message>
					<ee:variables>
						<ee:set-variable variableName="filterAccounts"><![CDATA[%dw 2.0
output application/json
---

vars.newDBFetchingPayload -- vars.storeAccountNumber]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
		<choice doc:name="Filter Update records" doc:id="883db5a5-8e26-4750-ba81-cad29cef854b" >
			<when expression="#[sizeOf(vars.filterAccounts) &gt; 0]">
				<logger level="INFO" doc:name="Logger" doc:id="16c54daa-9eb4-4b13-b4d3-89815e3633b3" message="#[vars.filterAccounts]" />
				<ee:transform doc:name="Transform Message" doc:id="5ec6dfb4-07da-485a-ad58-a8fde254252f">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/csv
---
vars.filterAccounts]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<file:write doc:name="Filter Records are stored in Files" doc:id="3f30e0a0-86e7-43cc-97e2-b538d9b0e1bc" path="customers/new_users.csv" config-ref="File_Config">
				</file:write>
			</when>
			<otherwise >
				<logger level="INFO" doc:name="No Update records" doc:id="344c8396-05d0-415c-b268-d8ceecc41147" message="No Update records"/>
			</otherwise>
		</choice>
		<os:store doc:name="New DB Records stored inOBJect Store" doc:id="c19b5e53-c8f6-4c0c-9ac7-a2a62564a90a" key="dbStore">
			<os:value ><![CDATA[#[vars.newDBFetchingPayload]]]></os:value>
		</os:store>
	</flow>
</mule>
