s3-bulk-operation/src/main/mule/creation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:s3="http://www.mulesoft.org/schema/mule/s3" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/s3 http://www.mulesoft.org/schema/mule/s3/current/mule-s3.xsd">
	<flow name="create-bucket" doc:id="9325d68f-81c9-444f-bbfb-69c02a0e0b78" >
		<ee:transform doc:name="query params Set As Payload" doc:id="3241b281-b78d-4a98-8814-a1bb39a3e355" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="bucketName" ><![CDATA[%dw 2.0
output application/json
---
attributes.queryParams.bucketName]]></ee:set-variable>
				<ee:set-variable variableName="objectName" ><![CDATA[%dw 2.0
output application/json
---
attributes.queryParams.objectName]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<choice doc:name="Choice" doc:id="208bf7cc-ecee-4ef7-bb3e-1730597af1be" >
			<when expression="#[sizeOf(vars.bucketName) &gt; 0 and vars.objectName == null]">
				<logger level="INFO" doc:name="Logger" doc:id="ae9db0bf-5d04-4abd-8744-86433346870e" message="#[vars.bucketName]"/>
				<try doc:name="Try" doc:id="2c01d1a5-e105-45f3-a43f-350554e42871" >
					<s3:create-bucket doc:name="Create bucket" doc:id="f74a55dc-929f-4313-90b5-5ef5a3303e46" config-ref="Amazon_S3_Configuration" bucketName="#[vars.bucketName]" region="AP_MUMBAI" />
					<error-handler>
						<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="71d6c10b-a97a-4a6d-9c1f-9bf8504030ae" >
							<ee:transform doc:name="Error payload" doc:id="48b9600f-67e4-4ba1-9c60-d73020afb9f0" >
								<ee:message >
									<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	errorMessage: error.errorMessage,
	description: error.description,
	message: "Bucket Name already exist in AWS"
}]]></ee:set-payload>
								</ee:message>
							</ee:transform>
						</on-error-propagate>
					</error-handler>
				</try>
				<logger level="INFO" doc:name="Logger" doc:id="5762cefc-8b5d-40a6-ace9-28319d4ab286" message="bucket after creation"/>
				<ee:transform doc:name="final payload" doc:id="d5ff93af-6ee8-481d-bf57-865d8878896a">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</when>
			<otherwise >
				<ee:transform doc:name="error payload" doc:id="bc80b115-d9e3-484d-867c-44f6eba931ca" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	errorCode: 200,
	message: " Please provide Bucket Name"
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</otherwise>
		</choice>
	</flow>
	<flow name="create-object" doc:id="e6e5d097-7141-4918-926f-8af4d7809477" >
		<ee:transform doc:name="Params set as varaibles" doc:id="6eaf46b9-6fb9-4d00-a0d6-3c6657c8b897" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="bucketName" ><![CDATA[%dw 2.0
output application/json
---
attributes.queryParams.bucketName]]></ee:set-variable>
				<ee:set-variable variableName="objectName" ><![CDATA[%dw 2.0
output application/json
---
attributes.queryParams.objectName]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<try doc:name="Try" doc:id="a66b1893-d842-46c3-bd77-2c8a9308510f" >
			<s3:create-object doc:name="Create object" doc:id="a66a8ce5-37aa-45e8-bccf-f9fa631f51fe" config-ref="Amazon_S3_Configuration" bucketName="#[vars.bucketName]" key="#[vars.objectName]" />
			<error-handler >
				<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="0f23e807-4af1-448c-99fb-04bc6772f745" >
					<ee:transform doc:name="Error" doc:id="bd6825f9-0211-4500-9a74-006fa1d39044" >
						<ee:message >
							<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	errorMessage: error.errorMessage,
	errorDescription: error.description
}]]></ee:set-payload>
						</ee:message>
					</ee:transform>
				</on-error-continue>
			</error-handler>
		</try>
		<ee:transform doc:name="final payload" doc:id="96027c62-ea41-46f0-82ce-662f301b3aa8" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
