s3-bulk-operation/src/main/mule/s3-bulk.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd ">
    <apikit:config name="s3-bulk-config" api="s3-bulk.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <flow name="s3-bulk-main">
        <http:listener path="/api/*" config-ref="HTTP_Listener_S3">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="s3-bulk-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="s3-bulk-console">
        <http:listener path="/console/*" config-ref="HTTP_Listener_S3">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="s3-bulk-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="delete:\s3\delete:s3-bulk-config">
        <logger level="INFO" message="delete:\s3\delete:s3-bulk-config" />
    </flow>
    <flow name="get:\s3\create:s3-bulk-config">
        <logger level="INFO" message="get:\s3\create:s3-bulk-config" />
        <flow-ref doc:name="create-bucket" doc:id="57c64719-a149-4552-9c93-314f44e649cb" name="create-bucket" />
    </flow>
    <flow name="get:\s3\getBucketInfo:s3-bulk-config">
        <logger level="INFO" message="get:\s3\getbucket:s3-bulk-config" />
        <flow-ref doc:name="get-bucket-info" doc:id="2451c052-661c-4d08-9e17-75338e3c88f7" name="get-bucket-info" />
    </flow>
    <flow name="get:\s3\create\bucket:s3-bulk-config">
        <logger level="INFO" message="get:\s3\create\bucket:s3-bulk-config" />
        <flow-ref doc:name="create-bucket" doc:id="8e4382b5-886d-49ce-91f1-7525d3f60ac0" name="create-bucket" />
    </flow>
    <flow name="get:\s3\create\object:s3-bulk-config">
        <logger level="INFO" message="get:\s3\create\object:s3-bulk-config" />
        <flow-ref doc:name="create-object" doc:id="6cec1f9e-addb-47c8-af8e-fc9fd8c28f09" name="create-object" />
    </flow>
    <flow name="delete:\s3\delete\bucket:s3-bulk-config">
        <logger level="INFO" message="delete:\s3\delete\bucket:s3-bulk-config" />
        <flow-ref doc:name="delete-bucket" doc:id="a9772f7f-39cf-4bac-ad87-c3d861bab87c" name="delete-bucket" />
    </flow>
    <flow name="delete:\s3\delete\object:s3-bulk-config">
        <logger level="INFO" message="delete:\s3\delete\object:s3-bulk-config" />
        <flow-ref doc:name="delete-object" doc:id="b249d7f0-0c1f-4082-81ee-09ffe3883d7d" name="delete-object" />
    </flow>
    <flow name="get:\s3\getObjectInfo:s3-bulk-config">
        <logger level="INFO" message="get:\s3\getObjectInfo:s3-bulk-config" />
		<flow-ref doc:name="get-object-info" doc:id="9b2ad765-7e79-42de-a467-61783059f042" name="get-object-info"/>
    </flow>
    <flow name="get:\s3\getListBuckets:s3-bulk-config">
        <logger level="INFO" message="get:\s3\getListBuckets:s3-bulk-config" />
		<flow-ref doc:name="get-list-buckets" doc:id="ece925c3-b239-4e1e-abf1-61b0e42d5c04" name="get-list-buckets"/>
    </flow>
</mule>
